pandoc
pypandoc
sphinx
sphinx-autodoc-typehints
pydata-sphinx-theme
sphinx-design
readthedocs-sphinx-search
sphinxcontrib-napoleon
ipykernel # For tutorials
nbconvert # For tutorials
nbsphinx # For tutorials
plantweb
ipykernel
optuna
seaborn
