pandoc
pypandoc
sphinx>=7.3.7,<=8.1.3
sphinx-autodoc-typehints
pydata-sphinx-theme
sphinx-design
readthedocs-sphinx-search
sphinxcontrib-napoleon
ipykernel # For tutorials
ipywidgets # For the tutorials
nbconvert>=7.10.0 # For tutorials
nbsphinx>=0.9.5 # For tutorials
plantweb
optuna
seaborn
